{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@assets/*": ["src/assets/*"],
          "@components": ["./src/components"],
          "@constants/*": ["src/constants/*"],
          "@router/*": ["src/router/*"],
          "@scenes/*": ["src/scenes/*"],
          "@store/*": ["src/store/*"],
          "@services/*": ["src/services/*"],
          "@styles/*": ["src/styles/*"],
          "@types/*": ["src/types/*"],
          "@hooks/*": ["src/utils/hooks/*"],
          "@helpers/*": ["src/utils/helpers/*"]
        }

      }
    ]
  ]
}